<main class="hp-bg-color-dark-90 d-flex min-vh-100">
    <app-sidebar></app-sidebar>
    <div class="hp-main-layout">
        <app-header></app-header>
        <app-sidebar-mobile></app-sidebar-mobile>
        <div class="hp-main-layout-content">
            <div class="row mb-32 gy-32">
                <div class="col-12">
                    <div class="hp-page-title">
                        <h1 class="mb-8">Productos</h1>
                        <p class="mb-0 hp-p1-body">Sección para administración de productos.</p>
                    </div>
                </div>
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="row justify-content-between">
                                <div class="col-12 mt-16">
                                    <form>
                                        <div class="container">
                                            <div class="row">
                                                <div class="mb-24 col-6">
                                                    <label for="exampleInputEmail1" class="form-label">Nombre del producto</label>
                                                    <input type="text" class="form-control">
                                                </div>
        
                                                <div class="mb-24 col-6">
                                                    <label for="exampleInputEmail1" class="form-label">Nombre de la marca</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="mb-24 col-6">
                                                    <label for="exampleInputEmail1" class="form-label">Cantidad</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="mb-24 col-6">
                                                    <label for="exampleInputEmail1" class="form-label">Precio</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="mb-24 col-6">
                                                    <label for="exampleInputEmail1" class="form-label">Categoria</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                                <div class="mb-24 col-6">
                                                    <label for="exampleInputEmail1" class="form-label">Estado</label>
                                                    <input type="text" class="form-control">
                                                </div>
                                            </div>
                                        </div>
                                        <button type="submit" class="btn btn-success">Guardar</button>
                                    </form>
                                </div>

                                <div class="col-12 mt-24 hljs-container">
                                    <pre>                            <code class="html" data-component='form' data-code='basic'></code>
                    </pre>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-footer></app-footer>
    </div>
</main>