<div class="row hp-authentication-page">

    <div class="col-12 col-lg-6 py-sm-64 py-lg-0">
        <div class="row align-items-center justify-content-center h-100 mx-4 mx-sm-n32">
            <div class="col-12 col-md-9 col-xl-7 col-xxxl-5 px-8 px-sm-0 pt-24 pb-48">
                <h1 class="mb-0 mb-sm-24">Inicia sesión</h1>
                <p class="mt-sm-8 mt-sm-0 text-black-60">Bienvenido de nuevo, inicie sesión en su cuenta.</p>

                <form class="mt-16 mt-sm-32 mb-8" [formGroup]="formGroup">
                    <div class="mb-16">
                        <label for="loginUsername" class="form-label">Ususario :</label>
                        <input type="text" class="form-control" id="loginUsername" name="username" formControlName="username">
                    </div>

                    <div class="mb-16">
                        <label for="loginPassword" class="form-label">Contraseña :</label>
                        <input type="password" class="form-control" id="loginPassword" name="password" formControlName="password">
                    </div>
                    <button class="btn btn-success w-100">
                        <a class="d-block w-100" style="color: inherit;" (click)="createSesion()">Iniciar sesión</a>
                    </button>
                    <div class="alert alert-danger mt-4" role="alert" *ngIf="messageError!=''">
                        {{messageError}}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div class="col-12 col-lg-6 bg-primary-4 hp-bg-color-dark-90 position-relative" style="height: 100vh;">
        <div class="row hp-image-row h-100 px-8 px-sm-16 px-md-0 pb-32 pb-sm-0 pt-32 pt-md-0">
            <div class="col-12 hp-logo-item m-16 m-sm-32 m-md-64 w-auto px-0">
            </div>
        </div>
    </div>
</div>
