<div class="hp-sidebar hp-bg-color-black-0 hp-bg-color-dark-100">
    <div class="hp-sidebar-container">
        <div class="hp-sidebar-header-menu">
            <div class="row justify-content-between align-items-end me-12 ms-24 mt-24">
                <div class="w-auto px-0 hp-sidebar-collapse-button hp-sidebar-visible">
                    <button type="button" class="btn btn-text btn-icon-only">
                        <i class="ri-menu-unfold-line" style="font-size: 16px;"></i>
                    </button>
                </div>
                <div class="w-auto px-0">
                    <div class="hp-header-logo d-flex align-items-end">
                        <a routerLink="/home">
                            <img class="hp-logo" src="https://yoda.hypeople.studio/yoda-admin-template/app-assets/img/logo/logo-small.svg" alt="logo">
                        </a>
                    </div>
                </div>
                <div class="w-auto px-0 hp-sidebar-collapse-button hp-sidebar-hidden">
                    <button type="button" class="btn btn-text btn-icon-only">
                        <i class="ri-menu-fold-line" style="font-size: 16px;"></i>
                    </button>
                </div>
            </div>
            <ul>
                <li>
                    <div class="menu-title">MENU</div>
                    <ul>
                        <li>
                            <a routerLink="/home" class="submenu-item">
                                <span>
                                    <i class="iconly-Curved-Home"></i>
                                    <span>Pantalla principal</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/products" class="submenu-item">
                                <span>
                                    <i class="iconly-Curved-Category"></i>
                                    <span>Productos nuevos<span style="color: #fff;">sssssssss</span></span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a routerLink="/configuration" class="submenu-item">
                                <span>
                                    <i class="iconly-Curved-Setting"></i>
                                    <span>Configuración</span>
                                </span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li>
                    <div class="menu-title">COMPONENTS</div>
                    <ul>
                        <li>
                            <a href="javascript:;" class="submenu-item">
                                <span>
                                    <i class="iconly-Curved-Category"></i>
                                    <span>General</span>
                                </span>
                                <div class="menu-arrow"></div>
                            </a>
                            <ul class="submenu-children active" data-level="1">
                                <li>
                                    <a href="general-style-guide.html">
                                        <span>Style Guide</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="general-buttons.html">
                                        <span>Buttons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="general-remix-icons.html">
                                        <span>Remix Icons</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="general-iconly-icons.html">
                                        <span>Iconly Icons</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</div>